@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <div class="main">
        <div>
            <span class="oi oi-list-rich" aria-hidden="true"></span> Resources
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>