@page "/"
@inherits ResourcesBase
@using WebApplication.Components;

<h3>Resources</h3>

<div>
    <button class="btn btn-primary" @onclick="() => OpenNewResourcePage()">NewResource</button>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Resources == null)
        {
            <div class="spinner"></div>
        }
        else if (!Resources.Any())
        {
            <p>
                <em>No resource items exist. Please add some.</em>
            </p>
        }
        else
        {
            @foreach (var resource in Resources)
            {
                <tr>
                    <td>@resource.Id</td>
                    <td>@resource.Name</td>
                    <td>
                        
                        <button class="btn btn-primary" @onclick="(() => OpenBookDialog(resource))">
                            Book resource
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" @onclick="(() => RemoveResource(resource.Id))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@if (NewResourcePageOpen)
{
    <NewResource/>
}
@if (BookDialogOpen)
{
    <Booking_Resource_Popup Resource= "@_resourceToBook" OnClose="@OnBookDialogClose"></Booking_Resource_Popup>
}
